* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    /* width: 1440px;
    height: 1024px; */
    width: 100%;
    height: 100%;
    background: linear-gradient(243deg, #DAECF6 -0.78%, rgba(217, 236, 246, 0.54) 4.42%, rgba(218, 224, 227, 0.37) 9.08%, rgba(218, 221, 223, 0.23) 22.11%, rgba(218, 220, 221, 0.16) 26.74%, rgba(217, 219, 220, 0.11) 34.37%, rgba(255, 255, 255, 0.07) 49.83%, rgba(217, 217, 217, 0.00) 100.71%);
    /* background: linear-gradient(297deg, #FFF 0.6%, #FAD4E4 99.59%); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    display: inline-block;
    width: 48%;
    /* height: 800px; */
    height: 100%;
}

.form {
    display: inline-block;
    width: 49%;
    height: 100%;
}

.form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form form>div {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    position:relative;
}

.form form>div>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img img {
    width: 100%;
    height: 800px;
}

.form form label {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form form label::after {
    content: "*";
    color: red;
    font-size: 18px;
}

.form form input,
#gender {
    width: 280px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    background: #FAFDFF;
}

.form form input{
    padding:3%;
    font-size: 14px;
}
.form form input:focus{
    border-color:#E8E8E8;
}
.form form input + p{
    color:red;
    font-size: 12px;
    display: none;
}
.form form input + p::before{
    content: "*";
    color:red;
    font-size: 12px;
}
.hidePswd{
    width:25px;
    height: 30px;
    position: absolute;
    top:58%;
    left:35%;
    visibility:hidden;
}
.showPswd{
    width:20px;
    height: 20px;
    position: absolute;
    top:58%;
    left:35%;
    visibility:visible;
}
.hidecnfPswd{
    width:25px;
    height: 30px;
    position: absolute;
    top:58%;
    left:77%;
    visibility: hidden;
}
.showcnfPswd{
    width:20px;
    height: 20px;
    position: absolute;
    top:58%;
    left:77%;
    visibility: visible;
}

#dob{
    font-size:17px;
}
#gender {
    text-align: center;
    width: 70px;
}

#termconditions {
    width: 15px;
    height: 15px;
}

.box {
    align-items: baseline;
}

#submit{
    align-self:center;
    margin-left: -110px;
}
#submitbtn {
    width: 435px;
    height: 65px;
    border-radius: 20px;
    background: #000;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
    align-self:center;
}